<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423270439560-hlt0ljqrgd8nlh7o43sgqmunga55e6jd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423270439560-hlt0ljqrgd8nlh7o43sgqmunga55e6jd</string>
	<key>API_KEY</key>
	<string>AIzaSyBeU_11_nNjdFXHWQc3kzyc248b-yoIG_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>423270439560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yeshtery</string>
	<key>PROJECT_ID</key>
	<string>yeshtery</string>
	<key>STORAGE_BUCKET</key>
	<string>yeshtery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423270439560:ios:d4286cd74b15967bf19d3d</string>
</dict>
</plist>